*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
}

.header {
  height: 100px;

  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  padding-left: 4rem;
  height: auto;
}

.tags {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.3rem;
  font-size: 1.5rem;
}

.nav-button {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  font-size: 1.5rem;
  transition: all 0.3s;
  height: 60px;
  width: 200px;
  border-radius: 9px;
  padding: 1rem 1rem 1rem 1rem;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.8rem 6rem 5rem 6rem;
}

.hero-heading {
  font-size: 6rem;
  margin-bottom: 2.5rem;
}

.hero-subheading {
  font-size: 2.5rem;
  margin-bottom: 2.2rem;
}

.hero-button {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  background-color: #191a23;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  height: 60px;
  width: 200px;
  border-radius: 9px;
  padding: 1rem 1rem 1rem 1rem;
}

.hero-button:hover {
  cursor: pointer;
  background-color: #b9ff66;
  transition: all 0.3s;
}

.featured-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem 0;
  margin-bottom: 9.8rem;
}

.logos-div {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.logo-img {
  height: 12rem;
}

.product-section {
  padding: 8rem 6rem 5rem;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.product-heading {
  font-size: 4.5rem;
  background-color: #b9ff66;
  border-radius: 9px;
  padding: 0.5rem;
}

.product-subheading {
  font-size: 2rem;
}

/* HELPERS PROPERTIES FOR PRODUCTS SECTION */

.product-grid {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  width: auto;
}

.product-cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: auto;
  border-radius: 35px;
  box-shadow: 0 2px #333, 0 0.5em;
  background-color: #f3f3f3;
  padding: 0 5rem 0 5rem;
}

.product-cover-black {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: auto;
  border-radius: 35px;
  background-color: #f3f3f3;
  padding: 0 5rem 0 5rem;
}

.green-cover {
  background-color: #b9ff66;
}

.black-cover {
  background-color: #191a23;
}

.product-items {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.product-text-white {
  color: #f3f3f3;
}

.product-img {
  width: auto;
}

.green--1 {
  font-size: 3.5rem;
  background-color: #b9ff66;
  padding: 0.25rem;
  border-radius: 9px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.product-icon {
  font-size: 0.5rem;
}

.gray--1 {
  font-size: 3.5rem;
  background-color: #f3f3f3;
  padding: 0.25rem;
  border-radius: 9px;
}

.action-section {
  display: grid;
  grid-template-columns: 500px 500px;
  align-items: center;
  justify-content: space-between;

  width: auto;
  border-radius: 35px;
  background-color: #f3f3f3;
  padding: 0 5rem 0 5rem;
  margin: 9.8rem 0 9.8rem 0;
}

.action-cover {
  justify-content: left;
}

.action-heading {
  font-size: 3rem;
  margin-bottom: 4.5rem;
}

.action-subheading {
  font-size: 1.8rem;
  margin-bottom: 2.2rem;
}

.action-button {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  background-color: #191a23;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  height: 60px;
  width: 200px;
  border-radius: 9px;
  padding: 1rem 1rem 1rem 1rem;
}

.action-button:hover {
  cursor: pointer;
  background-color: #b9ff66;
  transition: all 0.3s;
}

.case-wrap {
  margin: 5rem 0 8rem 0;
  width: 100%;
  border-radius: 35px;
  background-color: #191a23;
  display: flex;
  align-items: center;
}

.case-grid {
  flex-grow: 1;
  justify-content: space-between;
  padding: 6rem 7rem 8rem 7rem;
}

.vertical {
  border-left: 2px solid #f3f3f3;
  height: 200px;
}

.case-text {
  margin-bottom: 2.5rem;
  color: #f3f3f3;
}

.case-more {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #b9ff66;
}

.work-wrap {
  width: auto;
  border-radius: 35px;
  box-shadow: 0 2px #333, 0 0.5em;
  background-color: #b9ff66;
  padding: 0 5rem 0 5rem;
  margin-top: 5rem;
}

.work-wrap-active {
  width: auto;
  border-radius: 35px;
  box-shadow: 0 2px #333, 0 0.5em;
  background-color: #f3f3f3;
  padding: 0 5rem 0 5rem;
  margin-top: 5rem;
}

.work-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0 5rem 0;
  margin-bottom: 5rem;
}

.work-texts {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.work-num {
  font-size: 7rem;
  font-weight: 500;
}

.work-heading {
  font-size: 4rem;
  font-weight: 500;
}

.team-section {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.team-wrap {
  width: 387px;
  height: 331px;
  border-radius: 35px;
  border: 1px solid black;
  box-shadow: 0 2px #333, 0 0.5em;

  padding: 2.5rem 2rem 0 2rem;
}

.team-profiles {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 28px;
}

.team-name {
  flex-grow: 1;
  padding-top: 5rem;
  margin: 0 10px 0 20px;

  font-size: 20px;
  font-weight: 500;
}

.team-name p {
  font-size: 18px;
  font-weight: 400;
}

.divider {
  border: 0.02px solid black;
}
